:root{
  --navbar-h-height: 3rem;
  --color-black: #101010;

  --color-dark01: #6D6875;
  --color-dark00: #B5838D;
  --color-neutral: #E5989B;
  --color-bright00: #FFB4A2;
  --color-bright01: #FFCDB2;


  --color-dark01: #1A1A1D;
  --color-dark00: #4E4E50;
  --color-neutral: #6F2232;
  --color-bright00: #950740;
  --color-bright01: #C3073F;


  --color-dark01: #0B0C10;
  --color-dark00: #424c58;
  --color-neutral: #C5C6C7;
  --color-bright00: #45A29E;
  --color-bright01: #66FCF1;


  --color-dark01: #4056A1;
  --color-dark00: #C5CBE3;
  --color-neutral: #EFE2BA;
  --color-bright00: #D79922;
  --color-bright01: #F13C20;


  --color-dark01: #123C69;
  --color-dark00: #BAB2B5;
  --color-neutral: #EEE2DC;
  --color-bright00: #EDC7B7;
  --color-bright01: #AC3B61;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral);
  font-family: Helvetica;
  color: var(--color-black)
}

main {
  padding: 2rem;
}

.navbar {
  background-color: var(--color-dark01);
  height: var(--navbar-h-height);
  height: 3rem;
}

.nav-list{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: flex-end;
}

.nav-item{
  background-color: var(--color-dark00);
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  height: 2rem;
  margin-left: 0.3rem;
}

.nav-item:hover{
  background-color: var(--color-bright01);
}

.nav-link{
  text-decoration: none;
  color: var(--color-black);
}

.nav-item:hover .nav-link{
  border-bottom: 2px solid var(--color-dark01);
}





.images{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.images .image{
  height: 7rem;
  width: 9.3rem;
  background-color: var(--color-dark00);
  border: 1px solid var(--color-dark01);
  padding: 0.5rem;
}

.form{
 display: flex;
 flex-direction: column;
 /* border: 2px dashed blue; */
 /* padding: 2rem; */
}

.form-group{
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.form-group label {
  flex: 1;
  padding-right: 0.5rem;
  text-align: right;
  color: var(--color-black) ;
}

.form-group input {
  flex: 2;
  background-color: var(--color-bright00) ;
  border: 0px;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
}

.form .buttons{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
}

.form .buttons button {
  border: 0px;
  background-color: var(--color-bright00);
  height: 100%;
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.form .buttons button:hover{
  background-color: var(--color-bright01);
}
