.App {

/* Loaded Fonts */
/*
  font-family: 'Playfair Display', serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Old Standard TT', serif;
  font-family: 'Vidaloka', serif;
  font-family: 'Rozha One', serif;
  font-family: 'Montserrat', san-serif;
*/

}
